/* 1 page */

.info {
    display: block;
    flex-wrap: wrap;
}

.project-info {
    display: flex;
    margin: 3%;
    flex: 1; /* Равное распределение доступного пространства между дочерними элементами */
    border: 1px solid #000; /* Добавьте границу, чтобы лучше видеть разделение */
    padding: 10px;
}

/* 2 page */
.top {
    display: flex;
    justify-content: space-evenly;
    margin: 15px
}

button {
    margin: 13px;
    padding: 15px;
}

.osnova {
    display: flex;
    justify-content: center;
}

.gen_info_section {
    display: flex;
}


